section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 30px;
    width: 75%;    
}

button {
    margin-top:2vh;
    background-color:black;
    color:white;
    border:none;
    border-radius:1vh;
    font-size:3em;
}

#rangees {
    border: solid 5px black;
    height:450px;
    width:860px;
}

#melangees {
    border:solid 5px black;
    height:450px;
    width:860px;
}